node_modules
.nvim
.webpack
.serverless
src/adapters/adapterchecklist.txt
src/adapters/multichain/anyswapaddresses.json
src/adapters/multichain/chainid.ts
src/adapters/multichain/process.ts
src/adapters/multichain/response.json
src/adapters/multichain/test.ts
src/adapters/portal/junk.ts
src/adapters/newchainchecklist.txt
src/utils/format.ts
src/utils/getts.ts
src/adapters/axelar/api.json
src/adapters/axelar/process.ts
src/utils/runall.ts
src/utils/filljobs.ts
src/utils/filljobs2.ts

.env

.idea